:root{
    --theme-primary-color:#ba0000;
    --theme-dim-gray-color:#595959;
    --theme-bg-color:#f8f8f8;
    --theme-white-color:#fff;
    --theme-black-color:#000;
    --theme-blackheader-color:#969696;
    --theme-blackheader-hover-color:#969696;
    --theme-qhse-career-bgcolor:#eaeaea;
    --theme-black-secend-color:#292929;
    --theme-black-light-color:#363636;
    --theme-gray-color:#eaeaea;
}